<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile Settings</title>
  <style>




  </style>
</head>
<body>
    <div class="profile form">
        <h2> User Profile Setting </h2>
        <form id="profileForm">
            <label for="username">Username:</label>
            <input type="text" name= "username" id = "username" required><br><br>

            <label for="profilePic">Profile Picture:</label>
            <input type="file" id="profilePic" name="profilePic" accept="image/*" required>

            <button type="submit">Save changes </button>
        </form>  
        </div>
    </body>
</html>