<!-- upload_profile_pic.html 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Profile Picture</title>
    <!
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Upload Profile Picture</h1>
        <form action="/upload_profile_pic" method="post" enctype="multipart/form-data" class="mt-3">
            <div class="form-group">
                <label for="profile_Pic">Choose Profile Picture:</label>
                <input type="file" name="profile_pic" id="profile_Pic" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</body>
</html> -->
